<h1>All of the Wiki categories</h1>
<table class="table">
  <tr> 
    <th colspan="0">
      <h2>Wikis</h2>
    </th>  
  </tr>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Link</th>
  </tr>
<% @wikis.each do |wiki| %> 
  <tr>
      <td><%= wiki.title %></td>
      <td><%= wiki.body %></td>
      <td><%= link_to wiki.title, wiki_path(wiki)%></td>
  </tr>


<% end %>
</table>
